MLX_URL=http://host.docker.internal:8000
AGENT_URL=http://host.docker.internal:8010
SPEECH_URL=http://host.docker.internal:8050
IMAGE_URL=http://host.docker.internal:8030

MLX_ROUTER_MODEL_PATH=
MLX_EMBEDDING_MODEL_PATH=

MLX_EMBEDDING_MAX_LENGTH=8192
MLX_EMBEDDING_BATCH_SIZE=8

FFMPEG_PATH=

MLX_WEB_PORT=8090
