<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>
<key>Label</key><string>de.nobby.mlx-images</string><key>ProgramArguments</key><array><string>__PROJECT_DIR__/image-venv/bin/python</string><string>-m</string><string>uvicorn</string><string>image_service:app</string><string>--host</string><string>127.0.0.1</string><string>--port</string><string>8030</string></array><key>WorkingDirectory</key><string>__PROJECT_DIR__</string><key>RunAtLoad</key><true/><key>KeepAlive</key><true/><key>ThrottleInterval</key><integer>30</integer><key>StandardOutPath</key><string>__CONFIG_DIR__/image.log</string><key>StandardErrorPath</key><string>__CONFIG_DIR__/image-error.log</string></dict></plist>
