<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>de.nobby.mlx-embeddings</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PROJECT_DIR__/embedding-venv/bin/python</string>
    <string>-m</string>
    <string>uvicorn</string>
    <string>embedding_service:app</string>
    <string>--host</string>
    <string>127.0.0.1</string>
    <string>--port</string>
    <string>8020</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT_DIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__PROJECT_DIR__/embedding-venv/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>ProcessType</key>
  <string>Interactive</string>
  <key>StandardOutPath</key>
  <string>__PROJECT_DIR__/embedding.log</string>
  <key>StandardErrorPath</key>
  <string>__PROJECT_DIR__/embedding-error.log</string>
</dict>
</plist>
